.container{
    text-align: center;
    margin-top: 23px;
    border: 2px solid black;
    background-color: aqua;
    width: 600px;
    height: 800px;
    border-radius: 25px;
}

table{
    margin: auto;
}

input{
    display: inline-block;
    font-size: 60px;
    width: 500px;
    border: 2px solid greenyellow;
    border-radius: 30px;    
}
button{
    cursor: pointer;
    font-size: 35px;
    background-color:yellowgreen;
    color: crimson;
    height: 102px;
    width: 102px;
    border-radius: 51px;

}

